<!-- Footer -->
<div id="footer-wrapper">
  <section id="footer" class="container">
    <div class="row">
      <div class="col-sm-4">
        <section>
          <ul class="contact">
              <p>
                Soul Source Foundation<br />
                P.O. Box 7635<br />
                Minneapolis, MN 55407
              </p>
          </ul>
        </section>
      </div>
      <div class="col-sm-4">
        <section>
          <ul class="social">
            <li><a href="mailto:soulsourcefoundation@gmail.com"><span target="_blank>">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span class="label">Email</span>
            </a></li>
            <li><a href="https://www.facebook.com/SoulSourceFoundation" target="_blank">
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
              <span class="label">
              Facebook</span>
            </a></li>
          </ul>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="12u">

        <!-- Copyright -->
          <div id="copyright">
            <ul class="links">
              Design: <a href="http://www.inforight.net">@magiccia</a>
            </ul>
          </div>

      </div>
    </div>
  </section>
</div>
