<div id="header-wrapper">
  <div id="header">
    <h1><a href="{{ site.baseurl }}/">Soul Source Foundation</a></h1>
    <h2>Igniting Change In Kenya</h2>
    <nav id="nav">
      <ul class="nav nav-pills">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/programs/">Programs</a></li>
        <li><a href="{{ site.baseurl }}/about/">About Us</a></li>
        <li><a href="{{ site.baseurl }}/newsletter/">Newsletter</a></li>
        <li class="donate"><a href="{{ site.baseurl }}/donate/">Donate</a></li>	
      </ul>
    </nav>
  </div>
</div>
