      <!-- Logo -->
            <h1><a href="index.html">Soul Source Foundation</a></h1>
            <h2>Igniting Change In Kenya</h2>
      <!-- Nav -->
                    <nav id="nav">
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="{{ site.baseurl }}/programs.html">Programs</a></li>
                <li><a href="{{ site.baseurl }}/about.html">About Us</a></li>
                <li><a href="{{ site.baseurl }}/newsletter.html">Newsletter</a></li>
                <li><a href="{{ site.baseurl }}/donate.html">Donate</a></li> 
              </ul>
            </nav>